<div class="contianer">
    <%- include('common/index_js')%>

        <form class="form-group" method="post" action="/superadmin/naja/jubjub">
            <label for="">เพิ่มหนัง:</label><br>
            <div class="row">
                <label for="">Name:</label>
                <input type="text" id="title" name="name" value="">
                <label for="">Cover:</label>
                <input type="text" id="cover" name="cover" value="">
            </div>

            <div class="row">
                <label for="">Website:</label>
                <button type="button" class="add_field_button">Add</button>
                <button type="button" class="remove_field_button">Remove</button>
                <div class="input_fields_wrap"></div>
            </div>

            <div class="row">
                <label for="">URL:</label>
                <div class="input_fields_wrap_url"></div>
            </div>

            <label for="">Category:</label><br>
            <%
            if(category !== null){
                for(const cat of category) {
            %>
            <input type="checkbox" id="categoryId[]" name="<%= cat.id%>" value="<%= cat.id%>">
            <label for="<%= cat.id%>"><%= cat.category%></label><br>
            <%
                }
            }
            %>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
        *******************
        
</div>

    <script>
            var max_fields      = 10;
            var wrapper         = $(".input_fields_wrap");
            var wrapper_url     = $(".input_fields_wrap_url");
            var add_button      = $(".add_field_button");
            var remove_button   = $(".remove_field_button");

            $(add_button).click(function(e){
                e.preventDefault();
                var total_fields = wrapper[0].childNodes.length;
                console.log(wrapper)
                console.log(total_fields)
                if(total_fields < max_fields){
                    $(wrapper).append('<input type="text" name="site[]" class="field-long" required/>');
                    $(wrapper_url).append('<input type="url" name="url_site[]" class="field-long" required/>');
                }
            });
            $(remove_button).click(function(e){
                e.preventDefault();
                var total_fields = wrapper[0].childNodes.length;
                if(total_fields>1){
                    console.log(total_fields )
                    wrapper[0].childNodes[total_fields-1].remove();
                    wrapper_url[0].childNodes[total_fields-1].remove();
                }
            });
    </script>


