<!DOCTYPE html>
<html>
   	<head>
     	<title></title>
      	<link rel="stylesheet" type="text/css" href="/css/style.css">
   	</head>
   	<body>
      	<div class="container">
        	404 ไม่พบหน้าดังกล่าว
        	<a href="/">Home</a>
        </div>
   	</body>
</html>
