<% 
var contextPath = req.protocol + '://' + req.get('host');
%>
<!DOCTYPE html>
<html>
   	<head>
		 <title>ดูหนังฟรี HD 2020</title>
		 <%- include('common/index_css')%>
   	</head>
   	<body class="bg-body">
		<div class="wrap atimage">
			<header class="container-head">
					<%- include('common/_header', {contextPath: contextPath})%>	
			</header>
		
		<div class="container-fluid margintop ">
			<div class="row">
				<div class="col-9">
					<div class="container">
						<div class="mlist-headmovie" >หนังแนะนำ</div>

						<div class="row">	

							<!--Carousel Wrapper-->
							<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
								<!--Slides-->
								<div class="carousel-inner setcard" role="listbox">
								<!--First slide-->
								<div class="carousel-item active">
									<div class="row">
													<%
													if(movie1  !== null){
														for(var i=0; i<movie1.length; i++) {
															var movie = movie1[i];
													%>
													<div class="col-md-3">
															<div class="card-body" >
																<a href="/movie/<%= movie.title%>">
																	<img class="d-block" style="height: 325px; width: 250px;"  src="<%= movie.cover%>" class="card-img-top" alt="..." >
																</a>
															</div>
													</div>
													<% 
															}
													} 
													%>
									</div>
								</div>

								<div class="carousel-item">
									<div class="row">
												<%
													if(movie2 !== null){
														for(var i=0; i<movie2.length; i++) {
															var movie = movie2[i];
													%>
													<div class="col-md-3">
															<div class="card-body" >
																<a href="/movie/<%= movie.title%>">
																		<img class="d-block" style="height: 325px; width: 250px;"  src="<%= movie.cover%>" class="card-img-top" alt="..." >
																</a>
															</div>
													</div>
													<% 
															}
													} 
													%>
									</div>
								</div>

								<div class="carousel-item">
									<div class="row">
												<%
													if(movie3 !== null){
														for(var i=0; i<movie3.length; i++) {
															var movie = movie3[i];
													%>
													<div class="col-md-3">
															<div class="card-body" >
																<a href="/movie/<%= movie.title%>">
																		<img class="d-block" style="height: 325px; width: 250px;"  src="<%= movie.cover%>" class="card-img-top" alt="..." >
																</a>
															</div>
													</div>
													<% 
															}
													} 
													%>
									</div>
								</div>
								</div>
								<!--/.Slides-->
							</div>
							<!--/.Carousel Wrapper-->
						</div>


						<div class="mlist-headmovie">ดูหนังออนไลน์ หนังใหม่ HD ฟรี ไม่มีโฆษณา</div>
						<div class="row">
							
							<%
							if(list_movie !== null){
								for(var i=0; i<list_movie.length; i++) {
									let movie = list_movie[i];
							%>
							<div class="col-4 bg-body mt-2">
								<div class="card">

									<a href="/movie/<%= movie.title%>">
										<div class="quality-corner quality-HD">HD</div>
										<div class="quality-corner2 quality-HD2"><%= movie.score%>/10</div>
										<img src="<%= movie.cover%>" class="card-img-top" alt="..." height="375" width="225">
										
									</a>
									<div class="card-body card-align">
									  <p class="card-text text-light"><a href="/movie/<%= movie.title%>"><%= movie.title%></a></p>
									</div>
									
								  </div>
							</div>
							<% 
								}
							} 
							%>
						</div>
					</div>
				</div>
				<div class="col-3">
					<div class ="sidebar-right">
					<%- include('common/_sidebar', {category: category})%>
					<!-- <%- include('common/_contact')%> -->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-9 mt-2" >
					<%- nav_pagination%>
				</div>
			</div>
		</div>
		<div class="content-site">
			<div class="container">
				<figure align="center">
						</figure>
						<div class = "footer-color"style="padding:10px;"><p>lyffyHD เว็บดูหนังออนไลน์ที่สามารถ <strong>
							<a href="/" data-wpel-link="internal">ดูหนัง</a>
							</strong> ได้ทุกที่ทุกเวลา ผ่านทางคอมพิวเตอร์ และมือถือ Iphone Ipad Tablet หรือ Android ทุกยี่ห้อ ผู้รับชมสามารถ <strong>
								<a href="/" data-wpel-link="internal">ดูหนังออนไลน์</a>
								</strong> ที่มีภาพคมชัดระดับ HD ตั้งแต่ 360px, 480px, 720px และ 1080px ไปจนถึงความคมชัด 4K หรือ Ultra HD นอกจากนี้ยังมี <strong>
									<a href="/" data-wpel-link="internal">หนังใหม่</a>
								</strong> ทุกแนวให้คุณได้รับชมฟรีทุกวัน ตลอด 24 ชม.</p>					
				</div> 
			</div>
		</div> 

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  slides[slideIndex-1].style.display = "block";  
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>

			<footer>
				<div class="container-footer" >
					<div class ="row" >
						<div class="col-12" >
							<div class ="footer">
								<%- include('common/_footer')%>
							</div>
						</div>	
					</div>
				</div>
			</footer>
		<%- include('common/index_js')%>
		</div>
   	</body>
</html>
