<%
var contextPath = req.protocol + '://' + req.get('host');
%>
<Html>
    <head>
        <title>ดูหนังฟรี</title>
        <%- include('common/index_css')%>
    </head>
    <body class="bg-body">
        <div class="container-fliud">
			<div class="row">
				<div class="col-12">
					<%- include('common/_header', {contextPath: contextPath})%>
				</div>
			</div>
        </div>
        <div class="container margintop">
			<div class="row">
				<div class="col-9">                    
					<div class="container">
                        <div class="row">
                            <div class="col-12 mt-2">
                                
                                <% 
                                if(movie !== null && movie !== undefined && Array.isArray(video) && video.length > 0){
                                %>
                                <h1 class="text-light"><%=movie.title%></h1>
                                <div class="embed-responsive embed-responsive-16by9 border border-info">
                                    <iframe class="embed-responsive-item" src="<%= video[0].url%>" allowfullscreen></iframe>
                                </div>
                                
                                <% 
                                }else {
                                %>
                                <div class="text-light text-center">
                                    <span>ขออภัย ไม่พบหนังที่ต้องการ</span>
                                </div>
                                <%
                                }
                                %>
                            </div>
                            <div class="col-12 mt-2 text-light">
                                หมวดหมู่ : 
                                <% if(Array.isArray(movieCategory)){ 
                                    for(let i=0;i<movieCategory.length;i++){%>
                                        <a href="/category/<%= movieCategory[i].category%>"><%= movieCategory[i].category%></a>
                                        <span><%= i===(movieCategory.length-1)?'':','%></span></span>
                                <%  } 
                                }%>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-3">
                    <%- include('common/_sidebar', {category: category})%>
                    <!-- <%- include('common/_contact')%> -->
                </div>
            </div>
        </div>
        <div class="content-site">
			<div class="container">
				<figure align="center">
						</figure>
						<div class = "footer-color"style="padding:10px;"><p>luffyHD เว็บดูหนังออนไลน์ที่สามารถ <strong>
							<a href="/" data-wpel-link="internal">ดูหนัง</a>
							</strong> ได้ทุกที่ทุกเวลา ผ่านทางคอมพิวเตอร์ และมือถือ Iphone Ipad Tablet หรือ Android ทุกยี่ห้อ ผู้รับชมสามารถ <strong>
								<a href="/" data-wpel-link="internal">ดูหนังออนไลน์</a>
								</strong> ที่มีภาพคมชัดระดับ HD ตั้งแต่ 360px, 480px, 720px และ 1080px ไปจนถึงความคมชัด 4K หรือ Ultra HD นอกจากนี้ยังมี <strong>
									<a href="/" data-wpel-link="internal">หนังใหม่</a>
								</strong> ทุกแนวให้คุณได้รับชมฟรีทุกวัน ตลอด 24 ชม.</p>					
				</div> 
			</div>
		</div>  							
			<footer>
				<div class="container-footer" >
					<div class ="row" >
						<div class="col-12" >
							<div class ="footer">
								<%- include('common/_footer')%>
							</div>
						</div>	
					</div>
				</div>
			</footer>


        <%- include('common/index_js')%>
    </body>

</Html>