@font-face {
    font-family: kanit-regular;
    src: url('/font/Kanit/Kanit-Regular.ttf');
}

body {
    font-family: kanit-regular;
}

a {
    color: inherit;
}
.mlist-container {
    padding: 2px;
    border-radius: 10px;
}

.mlist-container .mlist-head {
    background:#FF4557 url('../image/navred.jpg')  left center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    text-align: center;  
    border-radius: 5px 5px 0px 0px;
}

.mlist-headmovie{
    background:#FF4557 url('../image/navred.jpg')  left center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    font-size:20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
}

.mlist-container .mlist-item {
    background-color: #585858;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.mlist-item {
    display: block;
    color: #ffffff;
}

.mlist-item:hover {
    text-decoration: none;
    color: #FF3333;
    background-color:#282828;
}

.nav-black {
    background:#000000 url('../image/navred.jpg')  left center;
    color: #FFFFFF;
    text-align: center;
    padding-left: 30%;
}

.nav-link:hover {
    color:#FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 1px;
}

.nav-link [href="/category/2020"] {
    color:#FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 1px;
}

 a [href*="/category/2020"]{
    color:#FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding-bottom: 1px;
 }

.card:hover {
    background-color: #E20D26;
}

.bg-body {
    background-color: #000000;
}


.bg-darker{
    background-color: #000000;
}

.card-align{
    text-align: center;
}

.margintop{
    margin-top:2em;
}

.card{
    background-color: #585858;
}

.test{
    padding: 0px 20px;
}

.container-logo{
    width:100%;
    margin: 0 auto ;
    display: flex;
}

.header{
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-head{
    margin:1%;
}


.h1-logo {
    color: #FFFFFF;
    background-color: #000;
    opacity: 0.6;
    margin: auto;
    /* margin-top: 10px; */
    padding: 10px;
    font-weight: 400;
}


.h1-logo{
    text-align: center;
    top: 50%;
}

.header-center{
    text-align: center;
    width: 45%;
    margin: auto 0;
}

.h1-logo{
    font-size: 30px;
}

.search-top{
    margin: auto 0;
    display: flex;
}

.quality-corner{
    width: 30%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    right: -2px;
    left: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px #222;
    position: absolute;
    top: -1px;
}

.quality-HD{
    background: #dc0603;
}

.quality-corner2{
    width: 25%;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    right: 76%;
    left: auto;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    text-shadow: 1px 1px 1px #222;
    position: absolute;
    top: -1px;
}

.quality-HD2{
    background:#000000 url('../image/star.webp') no-repeat left center;
    padding: 2px 5px 2px 22px;
}

.footer-color{
    color: #f0f0f0;
}

.footerlow{
   background:#000000 url('../image/navred.jpg')  left center;
   text-align: center;
   padding: 10px;
    
}

.border-color{
    border: 1px solid #FBDB89;
}

.mlist-header{
    text-align: left;
    background-color:#FBDB89;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    padding-left: 10px;
}

.page-item.active .page-link {
    background-color: #E20D26;
    border-color: #E20D26;
}

.page-link {
    color: #E20D26;
}

.page-link:hover {
    color: #E20D26;
}

.border-bg {
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(134,5,5,1) 45%, rgba(135,127,127,1) 100%);
    height: 6px;
    clear: both;
}

.footer-link{
    color: #000000;
}

a:hover{
    color: #FFFFFF;
}

.setcard{
    padding-left: 9px;
    width: 98%;
}

.tag-color{
    background:#FF4557 url('../image/navred.jpg')  left center;
    color:white;
    margin-top: 10px;
    max-width: 15%;
    max-height: 29px;
    font-size: 10px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 0px 0px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 0 0 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4.5s;
  animation-name: fade;
  animation-duration: 4.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}