<div class="mlist-container">
    <div class ="sidebar-right" >
        <div class="mlist-head">แจ้งไฟล์หนังเสียติดต่อ</div>
        <img src="https://m2movie.s3-ap-southeast-1.amazonaws.com/contac/QR-CODE-ufa991.jpg" width="100%" >
        <div class="mlist-item" style="text-align: center;" >
            LINE : @UFA991
        </div>
    </div>
</div>