<div class="footerlow">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-69983759-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-69983759-1');
    </script>
    <div class="footer-link">
                Copyright © 2020 
              
                <a href="/">ดูหนัง หนัง ดูหนังออนไลน์ หนังใหม่ ดูหนังฟรี luffyHD</a>
              </div>          
</div>